<div class ="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
        <h1 class="text-center">
            Edit your profile
        </h1>
        <p class="text-center">Make the changes you want</p>
        </div>
        <div class="well">
           <%= render 'form' %>
        </div>
    </div>
</div>