<div class="jumbotron text-center">
    
    
<h1>Welcome to Dev Match BETA</h1>
<h3>A membership site for developers and entrepreneurs</h3>

</div>

<div class ="row">
    <div class="col-md-6">
        <div class="well">
           <h2 class="text-center"> Basic Membership</h2>
           <h4>Sign up for a free account and get basic access</h4>
           <br>
           <%= link_to "Sign up Free", new_user_registration_path(Plan:@basic_plan.id), class:'btn btn-primary btn-lg btn-block'%>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
           <h2 class="text-center"> Pro Membership(10$)</h2>
           <h4>Sign up for the pro membership and get access to all features</h4>
           <br>
            <%= link_to "Sign up Pro", new_user_registration_path(Plan:@pro_plan.id), class:'btn btn-success btn-lg btn-block'%>
        </div>
    </div>
</div>
  