.job_title_icon {
    display: inline-block;
    width:150px;
    height:150px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    text-align: center;
    background-color: #337ab7;
    color: white;
    font-size:110px;
    
   
}

.name{
    text-align: center;
}

.well.profile-description{
    
}

.well.contact-info-blocked{
    background-color: #d9534f;

    
    
}
.well.contact-info-enabled{
    text-align: center;
    
}