.job_title_icon {
    display: inline-block;
    width:150px;
    height:150px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    text-align: center;
    background-color: #337ab7;
    color: white;
    font-size:110px;
    
   
}

.job_title_icon_community {
    display: inline-block;
    width:100px;
    height:100px;
    border: 2px solid #2e6da4;
    border-radius: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: #337ab7;
    color: white;
    font-size:55px;
    margin-top: 0px;
    
   
}


.name{
    text-align: center;
}

.well.profile-description{
    
}

.well.contact-info-blocked{
    background-color: #d9534f;

    
    
}
.well.contact-info-enabled{
    text-align: center;
    
}

.well.white{
    background-color:white;
}